<!-- IF S_SHOW_HISTORY -->
<div class="card my-4">
    <div class="flex items-center justify-between card-title">
        <h2 class="stat-title">{{ FORUMHISTORY_TITLE }}</h2>
        {% if zeina.collapse_panel %}
        <div class="collapse-panel zn-collapse-toggle open leading-[0] py-0.5 px-1 hover:cursor-pointer" id="zn-collapse-history" data-zn-collapse="#zn-history-collapse">
            <div class="zn-collapse-open:[transform:rotate(180deg)] transition-all duration-300"><i class="iconify" data-mode="style" data-icon="ri:arrow-down-s-line" data-width="18" data-height="18" aria-hidden="true"></i></div>
        </div>
        {% endif %}
    </div>
    <div id="zn-history-collapse" class="zn-collapse w-full overflow-hidden" aria-labelledby="zn-collapse-history">
                <ul class="topiclist forums divide-y md:p-4 p-2 mt-1">
            <!-- BEGIN history_facts -->
            <li class="pt-4 mt-4 first:pt-0 first:mt-0 topic row">
                <div class="row-item flex max-md:flex-col gap-4 max-md:gap-2 items-center">
                    <div class="flex flex-row grow gap-4">
                        <div class="topic-icon mt-0.5 leading-[0] topic_read">
                            <i class="iconify" data-mode="style" data-icon="ph:file" data-width="18" data-height="18" aria-hidden="true"></i>
                        </div>
                        <div class="topic-details w-full">
                            <div class="flex items-center gap-2 max-md:py-1">
                                <h3 class="text-sm font-semibold"><a href="{{ history_facts.LINK }}" class="topictitle max-md:py-1">{{ history_facts.TOPIC_TITLE }}</a></h3>
                            </div>
                            <div class="topic-poster flex flex-wrap items-center gap-1 text-xs font-medium mt-0.5 text-secondary">
                                {{ lang('FORUMHISTORY_FACT_PREFIX', history_facts.YEAR, history_facts.USERNAME) | raw }}
                                {{ lang('FORUMHISTORY_WITH') }} {{ history_facts.REPLY_STRING }} {{ lang('FORUMHISTORY_AND') }} {{ history_facts.VIEW_STRING }}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END history_facts -->
            <!-- IF not history_facts -->
            <li class="pt-4 mt-4 first:pt-0 first:mt-0 topic row">
                <div class="row-item flex max-md:flex-col gap-4 max-md:gap-2 items-center">
                    <div class="flex flex-row grow gap-4">
                        <div class="topic-details w-full">
                            <div class="text-sm text-secondary">{{ lang('NO_FACTS') }}</div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- ENDIF -->
        </ul>
    </div>
</div>
<!-- ENDIF -->
<!-- IF S_SHOW_TODAY -->
<div class="card my-4">
    <div class="flex items-center justify-between card-title">
        <h2 class="stat-title">{{ FORUMHISTORY_TODAY_TITLE }}</h2>
        {% if zeina.collapse_panel %}
        <div class="collapse-panel zn-collapse-toggle open leading-[0] py-0.5 px-1 hover:cursor-pointer" id="zn-collapse-today" data-zn-collapse="#zn-today-collapse">
            <div class="zn-collapse-open:[transform:rotate(180deg)] transition-all duration-300"><i class="iconify" data-mode="style" data-icon="ri:arrow-down-s-line" data-width="18" data-height="18" aria-hidden="true"></i></div>
        </div>
        {% endif %}
    </div>
    <div id="zn-today-collapse" class="zn-collapse w-full overflow-hidden" aria-labelledby="zn-collapse-today">
                <ul class="topiclist forums divide-y md:p-4 p-2 mt-1">
            <!-- BEGIN today_facts -->
            <li class="pt-4 mt-4 first:pt-0 first:mt-0 topic row">
                <div class="row-item flex max-md:flex-col gap-4 max-md:gap-2 items-center">
                    <div class="flex flex-row grow gap-4">
                        <div class="topic-icon mt-0.5 leading-[0] topic_read">
                            <i class="iconify" data-mode="style" data-icon="ph:file" data-width="18" data-height="18" aria-hidden="true"></i>
                        </div>
                        <div class="topic-details w-full">
                            <div class="flex items-center gap-2 max-md:py-1">
                                <h3 class="text-sm font-semibold"><a href="{{ today_facts.LINK }}" class="topictitle max-md:py-1">{{ today_facts.TOPIC_TITLE }}</a></h3>
                            </div>
                            <div class="topic-poster flex flex-wrap items-center gap-1 text-xs font-medium mt-0.5 text-secondary">
                                {{ lang('FORUMHISTORY_FACT_PREFIX_ABS', today_facts.ACTUAL_YEAR, today_facts.USERNAME) | raw }}
                                {{ lang('FORUMHISTORY_WITH') }} {{ today_facts.REPLY_STRING }} {{ lang('FORUMHISTORY_AND') }} {{ today_facts.VIEW_STRING }}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END today_facts -->
            <!-- IF not today_facts -->
            <li class="pt-4 mt-4 first:pt-0 first:mt-0 topic row">
                <div class="row-item flex max-md:flex-col gap-4 max-md:gap-2 items-center">
                    <div class="flex flex-row grow gap-4">
                        <div class="topic-details w-full">
                            <div class="text-sm text-secondary">{{ lang('NO_FACTS') }}</div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- ENDIF -->
        </ul>
    </div>
</div>
<!-- ENDIF -->