<div class="panel panel-forum">
    <div class="panel-heading">
        {{ FORUMHISTORY_TITLE }}
    </div>
    <div class="panel-inner">
        <table class="footable table table-striped table-primary table-hover">
            <thead>
                <tr>
                    <th data-class="expand">{{ L_TITLE }}</th>
                    <th class="large110" data-hide="phone">{{ L_STATISTICS }}</th>
                    <th class="large21" data-hide="phone">{{ L_INFO }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN history_facts -->
                <tr>
                    <td>
                        <span class="desc-wrapper">
                            <a href="{{ history_facts.LINK }}" class="forumtitle">{{ history_facts.TOPIC_TITLE }}</a><br />
                            <span class="description">{{ lang('FORUMHISTORY_FACT_PREFIX', history_facts.YEAR, history_facts.USERNAME) | raw }}</span>
                        </span>
                    </td>
                    <td class="stats-col">
                        <span class="stats-wrapper">
                            {{ history_facts.REPLY_STRING }}<br />
                            {{ history_facts.VIEW_STRING }}
                        </span>
                    </td>
                    <td>
                        <span class="last-wrapper text-overflow">
                            {{ history_facts.YEAR }}
                        </span>
                    </td>
                </tr>
                <!-- END history_facts -->
                <!-- IF not history_facts -->
                <tr>
                    <td colspan="3">
                        <strong>{{ lang('NO_FACTS') }}</strong>
                    </td>
                </tr>
                <!-- ENDIF -->
            </tbody>
        </table>
    </div>
</div>