services:
    mundophpbb.forumhistory.listener:
        class: mundophpbb\forumhistory\event\listener
        arguments:
            - '@template'
            - '@config'
            - '@dbal.conn'
            - '@cache'                   # Serviço correto: phpbb\cache\service
            - '@language'
            - '@auth'
            - '%core.root_path%'
            - '%core.php_ext%'
        tags:
            - { name: event.listener }

    mundophpbb.forumhistory.acp:
        class: mundophpbb\forumhistory\acp\forumhistory_module
        tags:
            - { name: acp.module }

    mundophpbb.forumhistory.cron.update_history:
        class: mundophpbb\forumhistory\cron\update_history
        arguments:
            - '@config'
            - '@cache'                   # Serviço correto para o cron
        tags:
            - { name: cron.task, task: mundophpbb_forumhistory_update_history }

    # Opcional: nome traduzido bonito na lista de tarefas cron do ACP
    # Descomente se quiser usar (e crie a lang key FORUMHISTORY_CRON_NAME no idioma desejado)
    # mundophpbb.forumhistory.cron.name:
    #     class: phpbb\cron\task\wrapper
    #     arguments:
    #         - '@mundophpbb.forumhistory.cron.update_history'
    #         - 'FORUMHISTORY_CRON_NAME'
    #     tags:
    #         - { name: cron.task }