<!-- IF S_SHOW_HISTORY -->
<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">{{ FORUMHISTORY_TITLE }}</div>
                    </dt>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums">
            <!-- BEGIN history_facts -->
            <li class="row bg1"> <!-- Use bg1 ou bg2 para alternar cores, como em fóruns -->
                <dl class="row-item topic_read"> <!-- Ícone de tópico lido; mude para topic_unread se quiser -->
                    <dt>
                        <div class="list-inner">
                            <a href="{{ history_facts.LINK }}" class="forumtitle">{{ history_facts.TOPIC_TITLE }}</a></br>
                            <span class="forum-description">{{ lang('FORUMHISTORY_FACT_PREFIX', history_facts.YEAR, history_facts.USERNAME) | raw }}</span>
                            <span class="responsive-hide">{{ lang('FORUMHISTORY_WITH') }} {{ history_facts.REPLY_STRING }} {{ lang('FORUMHISTORY_AND') }} {{ history_facts.VIEW_STRING }}</span>
                        </div>
                    </dt>
                </dl>
            </li>
            <!-- END history_facts -->
            <!-- IF not history_facts -->
            <li class="row bg1">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">{{ lang('NO_FACTS') }}</div> <!-- Adicione lang se quiser mensagem vazia -->
                    </dt>
                </dl>
            </li>
            <!-- ENDIF -->
        </ul>
    </div>
</div>
<!-- ENDIF -->
<!-- IF S_SHOW_TODAY -->
<div class="forabg">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">{{ FORUMHISTORY_TODAY_TITLE }}</div>
                    </dt>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums">
            <!-- BEGIN today_facts -->
            <li class="row bg1">
                <dl class="row-item topic_read">
                    <dt>
                        <div class="list-inner">
                            <a href="{{ today_facts.LINK }}" class="forumtitle">{{ today_facts.TOPIC_TITLE }}</a><br />
                            <span class="forum-description">{{ lang('FORUMHISTORY_FACT_PREFIX_ABS', today_facts.ACTUAL_YEAR, today_facts.USERNAME) | raw }}</span>
                            <span class="responsive-hide">{{ lang('FORUMHISTORY_WITH') }} {{ today_facts.REPLY_STRING }} {{ lang('FORUMHISTORY_AND') }} {{ today_facts.VIEW_STRING }}</span>
                        </div>
                    </dt>
                </dl>
            </li>
            <!-- END today_facts -->
            <!-- IF not today_facts -->
            <li class="row bg1">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">{{ lang('NO_FACTS') }}</div>
                    </dt>
                </dl>
            </li>
            <!-- ENDIF -->
        </ul>
    </div>
</div>
<!-- ENDIF -->